.ViewResourcePopup{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.3rem;
    outline: 0;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
}

$theme:       rgb(153, 0, 0);

.ViewResourcePopup-body{
    width: 100%;
    height: 100%;
}

.ViewResourcePopup-dropdown-item{
    display: flex;
    flex-direction: row;
    &-prefix{
        width: 6em;
        text-align: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-right: 1em;
    }
    &-label{
        width: 70%;
        text-align: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}