.ResourceGraph, .ResourceGraph-graphviz{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ResourceGraph-loading{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.ResourceGraph-loading{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}