.Radiobuttons-component{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.Radiobuttons-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5em;
}

.Radiobutton-title{
    font-size: 1.2em;
}

.Radiobutton-label{
    font-size: 1.0em;
    &:hover{
        cursor: pointer;
    }
}

.Radiobutton-button{
    width: 1.2em;
    height: 1.2em;
}