.ActionPopup-wizard-step2{
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.ActionPopup-wizard-step2-fileExplained{
    text-align: left;
    padding-top: 1em;
    padding-bottom: 0.5em;
}