.Button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 3em;
    border: 1px;
    border-radius: 2.5%;
    &:hover{
        color: #fff;
        background: #6c757d;
        border-color: #6c757d;
    }
    &-primary{
        background: #fff;
        border: rgb(153, 0, 0);
        color: rgb(153, 0, 0);
        &:hover{
            border: 1px solid#FFF;
            color: #fff;
            background: rgb(153, 0, 0);
        }
    }
}

.Button-icon{
    height: 1.5em;
    svg{
        height: 100%;
        width: 100%;
    }
    // &-primary{
    //     // color: rgb(153, 0, 0);
    // }
}

.Button-text{
    font-size: large;
}