$active: rgb(153, 0, 0);
$inactive: #f8f9fa;
$tab-height: 3em;

.Visualizations{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.Visualizations-header{
    width: 100%;
    max-width: 100%;
    overflow: none;
    height: 3em;
    text-align: left;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap;
}

.Visualizations-tabsContainer{
    width: 100%;
    height: $tab-height;
}

.Visualizations-VisualizerContainer{
    width: 90%;
    height: calc(100% - $tab-height);
}

// .Visualizations-loading{
//     width: 100%;
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }

.Visualizations-loader{
    width: 100%;
    height: 100%;
}