.SidebarFile{
    position: relative;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-top: 1px solid #6c757d;
    border-bottom: 0.25px solid  #6c757d;
    background-color: #fff;
    // &:hover{
    //     transform: scale(1.02);
    // }
    &-selected{
        &-true{
            background-color: #e9ecef;
            color: #212529;
        }
    }
}

.SidebarFile-flexContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // gap: 5px;
}

.SidebarFile-flexContainer-left{
    width: calc(100% - 2em);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
    &-stream-true{
        width: calc(100% - 3em);
    }
}

.SidebarFile-filetype{
    border: 1px solid black;
    border-radius: 2%;
    text-transform: uppercase;
    text-align: center center;
    width: 2.5em;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.SidebarFile-text-center{
    width: calc(100% - 2.5em);
    font-size: 0.85em;
    text-align: left;
    &:hover{
        transform: scale(1.02);
        cursor: pointer;
    }
}

.SidebarFile-filename{
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis !important;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.SidebarFile-creationDate{
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    font-size: 0.8em;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}


.SpinnerModal{
    position: absolute;
    width: calc(100% - 2em);
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    background: rgba(255,255,255,0.5);
    &-stream-true{
        width: calc(100% - 3em);
    }
}

.LoadingSpinner-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1em;
    aspect-ratio: 1 / 1;
}

.SidebarFile-stream{
    width: 1em;
    aspect-ratio: 1 / 1;
    margin-right: 0.25em;

}

.SidebarFile-delete{
    width: 1em;
    aspect-ratio: 1 / 1;
    margin-right: 0.25em;
    &:hover{
        transform: scale(1.1);
        cursor: pointer;
        color: rgb(153, 0, 0);
    }
}