.Sidebar{
    width: 100%;
    height: 100%;
    background-color: #f8f9fa;
}

.Sidebar-flexContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Sidebar-flexContainer-top{
    display: flex;
    width: 100%;
    height: calc(100% - 3em);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}

.Sidebar-flexContainer-IconizedButtons{
    width: 90%;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding-top: 1em;
    height: auto;
}

.Sidebar-flexContainer-files{
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    // max-height: 50%;
    width: 90%;
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 5px;
    }
      
    &::-webkit-scrollbar-track {
        background: #e9ecef;
    }
      
      /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #6c757d;
    }
      
      /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: rgb(153, 0, 0);
    }
}

.Sidebar-status{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1em;
    height: 2em;
    justify-content: center;
    justify-items: center;
}


.Sidebar-status-icon{
    &-green{
        color: #28a745;
    }
    &-yellow{
        color: #b4b923;
    }
    &-red{
        color: rgb(153, 0, 0);
    }
    &-grey{
        color: #6c757d;
    }
}

.Sidebar-status-icon-yellow{
    color: #b4b923;
}

.Sidebar-status-icon-red{
    color: rgb(153, 0, 0);
}

.Sidebar-status-text{
    font-size: 0.85em;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}