$theme: rgb(153, 0, 0);
.ActionPopup{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.3rem;
    outline: 0;
    min-width: 450px;
}

// Used for step 1
// .ActionPopup-wizard-step1, .ActionPopup-wizard-step2, .ActionPopup-wizard-step4{
//     padding: 0.5rem 1rem;
//     box-sizing: border-box;
// }

// Used for step 2
// .ActionPopup-wizard-step2{
//     display: flex;
//     flex-direction: column;
//     gap: 0.5em;
// }

//used for step 3
// .ActionPopup-wizard-parameter-inputs{
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-start;
//     align-items: center;
//     max-height: 300px;
//     overflow-y: scroll;
//     overflow-x: hidden;
//     padding: 0.5rem 1rem;
//     box-sizing: border-box;

//     overflow-y: scroll;
//     overflow-x: hidden;
//     &::-webkit-scrollbar {
//         width: 5px;
//     }
      
//     &::-webkit-scrollbar-track {
//         background: #e9ecef;
//     }
      
//       /* Handle */
//     &::-webkit-scrollbar-thumb {
//         background: #6c757d;
//     }
      
//       /* Handle on hover */
//     &::-webkit-scrollbar-thumb:hover {
//         background: rgb(153, 0, 0);
//     }
// }

// .ActionPopup-wizard-step2-fileExplained{
//     text-align: left;
//     padding-top: 1em;
//     padding-bottom: 0.5em;
// }

// .Dropdown-length-1{
//     padding-top: 0.5em;
//     text-align: left;

//     .Dropdown-legnth-1-text{
        
//         text-decoration: underline;
//     }
//     &-label{

//     }
//     &-text{
        
//     }
// }