.Checkbox-component{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    &-top {

    }
    &-left{
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
}

.Checkbox-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5em;
}

.Checkbox-title{
    font-size: 1.0em;
}

.Checkbox-container{
    input {
        width: 20px;
        height: 20px;
    }
}

.Checkbox-button{
    width: 1.2em;
    height: 1.2em;
}